<div class="perfil-container">

  <div class="top-area">

    <h1>
      Meu Perfil
    </h1>

    <p>
      Atualize suas informações pessoais.
    </p>

  </div>

  <div class="perfil-card">

    <form
      [formGroup]="perfilForm"
      (ngSubmit)="salvarPerfil()"
    >

      <div class="profile-image-area">

        <div class="profile-image">

          <img

            *ngIf="fotoUrl"

            [src]="fotoUrl"

            alt="Foto do perfil"

          >

          <span *ngIf="!fotoUrl">

            A

          </span>

        </div>

        <div>

          <input
            type="file"
            (change)="selecionarFoto($event)"
          >

        </div>

      </div>

      <div class="input-group">

        <label>
          Nome
        </label>

        <input
          type="text"
          formControlName="nome"
          placeholder="Digite seu nome"
        >

      </div>

      <div class="input-group">

        <label>
          E-mail
        </label>

        <input
          type="email"
          formControlName="email"
          placeholder="Digite seu e-mail"
        >

      </div>

      <div class="input-group">

        <label>
          Nova senha
        </label>

        <input
          type="password"
          formControlName="novaSenha"
          placeholder="Digite uma nova senha"
        >

      </div>

      <button
        class="save-btn"
        type="submit"
      >

        Salvar Alterações

      </button>

    </form>

  </div>

</div>