.perfil-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.top-area h1 {
  font-size: 32px;
  color: #222;
}

.top-area p {
  color: #777;
  margin-top: 5px;
}

.perfil-card {
  background-color: white;
  padding: 35px;
  border-radius: 18px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

.profile-image-area {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 30px;
}

.profile-image {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #243bff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 32px;
  font-weight: bold;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-group label {
  margin-bottom: 8px;
  font-weight: 600;
  color: #333;
}

.input-group input {
  padding: 14px 16px;
  border-radius: 10px;
  border: 1px solid #d7dbe8;
  outline: none;
  font-size: 15px;
  transition: 0.3s;
  background-color: #f8faff;
}

.input-group input:focus {
  border-color: #243bff;
}

.save-btn {
  padding: 14px 24px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(
    135deg,
    #243bff,
    #4b5cff
  );
  color: white;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 10px 20px rgba(36,59,255,0.18);
}

.save-btn:hover {
  transform: translateY(-2px);
}

@media (max-width:768px){

  .profile-image-area{
    flex-direction: column;
    align-items: flex-start;
  }

  .perfil-card{
    padding: 25px;
  }

}