<div class="layout-container">

  <aside class="sidebar">

    <div>

      <div class="logo">
        <h2>Agenda+</h2>
      </div>

      <nav class="menu">

        <a
          routerLink="/dashboard"
          routerLinkActive="active-link"
        >
          Dashboard
        </a>

        <a
          routerLink="/profissionais"
          routerLinkActive="active-link"
        >
          Profissionais
        </a>

        <a
          routerLink="/agenda"
          routerLinkActive="active-link"
        >
          Agenda
        </a>

        <a
          routerLink="/novo-agendamento"
          routerLinkActive="active-link"
        >
          Novo Agendamento
        </a>

        <a
          routerLink="/perfil"
          routerLinkActive="active-link"
        >
          Perfil
        </a>

      </nav>

    </div>

    <div class="sidebar-footer">

      <div
        class="logout-btn"
        (click)="logout()"
      >
        Sair
      </div>

    </div>

  </aside>

  <main class="main-content">

    <header class="header">

      <input
        type="text"
        placeholder="Pesquisar..."
        class="search-input"
        [(ngModel)]="textoBusca"
        (input)="buscar()"
      >

      <div class="user-area">

  <img

    *ngIf="usuarioFoto"

    [src]="usuarioFoto"

    class="user-avatar"

    alt="Perfil"

  >

  <span>

    {{ usuarioNome }}

  </span>

</div>

    </header>

    <section class="page-content">

      <router-outlet></router-outlet>

    </section>

  </main>

</div>